.title {
    color: var(--title-color);
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.btn {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}